In [11]:
import pandas as pd
import numpy as np
from sklearn import naive_bayes
data = pd.read_csv('titanic.csv')
type(data)
clean_data = data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_data = clean_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'SibSp', 'Pclass', 'Parch', 'Age'], axis = 1)
mean_fare = np.mean(clean_data['Fare'])
clean_data = clean_data.fillna(mean_fare)

#clean_data.describe
clean_data.head()

   Survived  Sex     Fare
0         0    0   7.2500
1         1    1  71.2833
2         1    1   7.9250
3         1    1  53.1000
4         0    0   8.0500

In [12]:
#Binning:
def binning(col, cut_points, labels=None):
  #Define min and max values:
  minval = col.min()
  maxval = col.max()

  #create list by adding min and max to cut_points
  break_points = [minval] + cut_points + [maxval]

  #if no labels provided, use default labels 0 ... (n-1)
  if not labels:
    labels = range(len(cut_points)+1)

  #Binning using cut function of pandas
  colBin = pd.cut(col,bins=break_points,labels=labels,include_lowest=True)
  return colBin

#Binning age:
cut_points = [20, 40, 60, 80, 100, 120, 150]
labels = [1, 2, 3, 4, 5, 6, 7, 8]
clean_data["FareRange"] = binning(data["Fare"], cut_points, labels)

clean_data = clean_data.fillna(2)
clean_data = clean_data.drop(['Fare'], axis = 1)
clean_data.head()

   Survived  Sex FareRange
0         0    0         1
1         1    1         4
2         1    1         1
3         1    1         3
4         0    0         1

In [13]:
clf = naive_bayes.GaussianNB()
X = clean_data.drop(['Survived'], axis = 1)
Y = clean_data['Survived']
clf.fit(X,Y)

GaussianNB()

In [14]:
test_data = pd.read_csv('titanic_test.csv') 
clean_test_data = test_data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_test_data = clean_test_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'SibSp', 'Pclass', 'Parch', 'Age'], axis = 1)
clean_test_data = clean_test_data.fillna(mean_fare)

clean_test_data.head()

   Sex     Fare
0    0   7.8292
1    1   7.0000
2    0   9.6875
3    0   8.6625
4    1  12.2875

In [15]:
cut_points = [20, 40, 60, 80, 100, 120, 150]
labels = [1, 2, 3, 4, 5, 6, 7, 8]
clean_test_data["FareRange"] = binning(data["Fare"], cut_points, labels)

clean_test_data = clean_test_data.fillna(2)
clean_test_data = clean_test_data.drop(['Fare'], axis = 1)
clean_test_data.head()

   Sex FareRange
0    0         1
1    1         4
2    0         1
3    0         3
4    1         1

In [16]:
outcome = clf.predict(clean_test_data)
print(outcome)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 1 0 1 1 1 0 0 0 0 0 0 1 1
 0 0 0 1 1 0 0 0 0 1 1 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 1 0 1 0 0 0 0 1 1 1 1 0 1 1 1 0 1 1 1 0 0 1 1 0 0 0 0 1 1 1 0 0 0 1 0 1
 1 1 0 0 1 0 0 0 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 1 1 1 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [17]:
outcome_data = test_data.drop(['Name', 'Ticket', 'Cabin','Fare', 'Embarked', 'Age', 'Pclass','Sex','SibSp', 'Parch'], axis = 1)
outcome_data['Survived'] = outcome
outcome_data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [18]:
outcome_data.to_csv('outcome_data9.csv')