In [27]:
import pandas as pd
import numpy as np
from sklearn import naive_bayes
data = pd.read_csv('titanic.csv')
type(data)
clean_data = data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_data = clean_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Fare', 'Embarked'], axis = 1)
mean_age = np.mean(clean_data['Age'])
clean_data['Family'] = clean_data['SibSp'] + clean_data['Parch']
clean_data = clean_data.drop(['SibSp', 'Parch'], axis = 1)
clean_data = clean_data.fillna(mean_age)
clean_data.head()

   Survived  Pclass  Sex  Age  Family
0         0       3    0   22       1
1         1       1    1   38       1
2         1       3    1   26       0
3         1       1    1   35       1
4         0       3    0   35       0

In [25]:
clf = naive_bayes.GaussianNB()
X = clean_data.drop(['Survived'], axis = 1)
Y = clean_data['Survived']
clf.fit(X,Y)

GaussianNB()

In [27]:
test_data = pd.read_csv('titanic_test.csv') 
clean_test_data = test_data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_test_data = clean_test_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Fare', 'Embarked'], axis = 1)
clean_test_data['Family'] = clean_test_data['SibSp'] + clean_test_data['Parch']
clean_test_data = clean_test_data.drop(['SibSp', 'Parch'], axis = 1)
clean_test_data = clean_test_data.fillna(mean_age)
outcome = clf.predict(clean_test_data)
print(outcome)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 1 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 1 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [28]:
outcome_data = test_data.drop(['Name', 'Ticket', 'Cabin','Fare', 'Embarked', 'Age', 'Pclass','Sex','SibSp', 'Parch'], axis = 1)
outcome_data['Survived'] = outcome
outcome_data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [29]:
outcome_data.to_csv('outcome_data3.csv')