In [91]:
import pandas as pd
import numpy as np
from sklearn import naive_bayes
data = pd.read_csv('titanic.csv')
type(data)
clean_data = data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_data = clean_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Fare', 'Embarked', 'SibSp'], axis = 1)
mean_age = np.mean(clean_data['Age'])
clean_data = clean_data.fillna(mean_age)
#clean_data["FilledAge"] = clean_data.fillna(mean_age)
#clean_data = clean_data['Age'][clean_data['Age'] <= 30] = 1
#clean_data = clean_data.loc[(clean_data['Age'] >= 20) & (clean_data['Age'] <= 30), 'Age'] = 
#clean_data = clean_data.drop('Age', axis = 1)
#clean_data['AgeRange'] = (clean_data['Age']>10) & (clean_data['Age']<20)
#clean_data = clean_data.inplace(1)
clean_data.head()

   Survived  Pclass  Sex  Age  Parch
0         0       3    0   22      0
1         1       1    1   38      0
2         1       3    1   26      0
3         1       1    1   35      0
4         0       3    0   35      0

In [92]:
#Binning:
def binning(col, cut_points, labels=None):
  #Define min and max values:
  minval = col.min()
  maxval = col.max()

  #create list by adding min and max to cut_points
  break_points = [minval] + cut_points + [maxval]

  #if no labels provided, use default labels 0 ... (n-1)
  if not labels:
    labels = range(len(cut_points)+1)

  #Binning using cut function of pandas
  colBin = pd.cut(col,bins=break_points,labels=labels,include_lowest=True)
  return colBin

#Binning age:
cut_points = [20]
labels = [1, 2]
clean_data["AgeRange"] = binning(data["Age"], cut_points, labels)

clean_data = clean_data.fillna(2)
clean_data = clean_data.drop(['Age'], axis = 1)
clean_data.head()

   Survived  Pclass  Sex  Parch AgeRange
0         0       3    0      0        2
1         1       1    1      0        2
2         1       3    1      0        2
3         1       1    1      0        2
4         0       3    0      0        2

In [93]:
clf = naive_bayes.GaussianNB()
X = clean_data.drop(['Survived'], axis = 1)
Y = clean_data['Survived']
clf.fit(X,Y)

GaussianNB()

In [94]:
test_data = pd.read_csv('titanic_test.csv') 
clean_test_data = test_data.replace(['female', 'male', 'S', 'C', 'Q'], [1, 0, 0, 1, 2])
clean_test_data = clean_test_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Fare', 'Embarked', 'SibSp'], axis = 1)
clean_test_data = clean_test_data.fillna(mean_age)
#clean_test_data.head()

cut_points = [20]
labels = [1, 2]
clean_test_data["AgeRange"] = binning(data["Age"], cut_points, labels)

clean_test_data = clean_test_data.fillna(2)
clean_test_data = clean_test_data.drop(['Age'], axis = 1)
clean_test_data.head()

   Pclass  Sex  Parch AgeRange
0       3    0      0        2
1       3    1      0        2
2       2    0      0        2
3       3    0      0        2
4       3    1      1        2

In [95]:
outcome = clf.predict(clean_test_data)
print(outcome)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 1 1 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 1 0 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 1 1 1 1 1 1 0 1 0 0 0]

In [96]:
outcome_data = test_data.drop(['Name', 'Ticket', 'Cabin','Fare', 'Embarked', 'Age', 'Pclass','Sex','SibSp', 'Parch'], axis = 1)
outcome_data['Survived'] = outcome
outcome_data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [98]:
outcome_data.to_csv('outcome_data6.csv')